.footer-img {
    display: flex;

    &__item {
        width: 50%;
        padding-top: 171px;
        height: 478px;
    }

    &__item h3 {
        @include fontM(30, 700)
        padding-bottom: 15px;
    }

    &__item h5 {
        @include fontR(18, 400)
        padding-bottom: 47px;
    }

    &__item a {
        @include fontM(16, 400)
        border-radius: 50px;
        display: inline-block;
        padding: 20px 45px;

    }

    &__item:nth-of-type(1) {
        background-image: url(../images/footer-1.png);
        color: $secondary;
        padding-left: 328px;

    }

    &__item:nth-of-type(1) a {
        border: 1px solid white;
        color: $secondary;
    }

    &__item:nth-of-type(2) {
        background-image: url(../images/footer-2.png);
        padding-left: 434px;
    }

    &__item:nth-of-type(2) a {
        border: 1px solid $gold;
        color: $primary;
    }
}

.footer-info {
    width: 100%;
    background: $darkgrey;


    &__section {
        display: flex;
        justify-content: space-between;

        &-item {
            width: 25%;

            &--contact h6:first-child ~ h6{
                @include fontR(16, 400);
                color: $secondary;
            }

            &--contact h6:nth-of-type(2) {
                line-height: 25px;
                padding-bottom: 49px;
            }

            &--contact h6:nth-of-type(2) ~ h6 {
                padding-bottom: 20px;
            }

            &--tags a {
                @include fontR(14, 400);
                color: $secondary;
                border: 1px solid $secondary;
                padding: 13px 15px;
                margin: 8px 3px;
                display: inline-block;
            }

            &--newsletter {

                & h6:nth-of-type(2) {
                    color: $secondary;
                    @include fontR(16, 400);
                    padding-bottom: 35px;
                }

                & input[type="email"] {
                    @include fontR(16, 400);
                    padding: 14px 14px;
                    background-color: $darkgrey;
                    color: $secondary;

                }

                & input[type="submit"] {
                    background-color: $darkgrey;
                    @include fontR(16, 400);
                    padding: 14px 9px;
                    color: $gold;
                    border: 1px solid $gold;
                }

            }
        }

        &-item h6:first-child {
            @include fontM(16, 400)
            color: $gold;
            padding: 122px 0 60px;
            text-transform: uppercase;

        }
    }


}

.footer-nav {
    width: 100%;
    background: $darkgrey;

    &__title {
        text-transform: uppercase;
        color: $gold;
        @include fontM(16, 400)
        text-align: center;
        padding: 86px 0 59px;
    }

    &__list {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        list-style: none;
        flex-wrap: wrap;

        &-item:hover {
        }

        &-item:hover a {
            border: 1px solid $gold;
            color: $gold;
            border-radius: 50px;
        }

        &-item a {
            @include fontR(16, 400)
            color: $secondary;
            padding: 10px 20px;
            line-height: 30px;
            margin-bottom: 80px;
            display: inline-block;
        }
    }


}

.footer-copyright {
    background-color: $midgrey;

    & h6 {
        @include fontR(16, 400)
        color: $secondary;
    }

    &__list {
        display: flex;
        justify-content: space-between;
        padding: 41px 0;

        &-item a {
            @include fontR(16, 400)
            padding: 0 20px;
            color: $secondary;
            border-right: 1px solid $lightgrey;
        }

        &-item a:last-child {
            border:none;
        }
    }
}

@media (max-width: 1300px) {
    .footer-img {
        
        &__item:nth-of-type(1) {
            padding-left: 100px;
        }
        &__item:nth-of-type(2) {
            padding-left: 100px;
        }
    }

    .footer-info {

        &__section-item h6:first-child {
            text-align: center;
            
        }
    }
}

@media (max-width: 900px) {
    .footer-img {
        flex-direction: column;

        &__item {
            width: 100%;
            text-align: center;
            padding-right: 100px;
        }
    }

    .footer-info {

        &__section {
            flex-direction: column;
            text-align: center;

            &-item {
                width: 100%
            }
        }
    }

    .footer-copyright {
        &__list {
            flex-direction: column;
            text-align: center;
        }
    }
}