@media (max-width: 1200px) {
    .outer-wrapper {
        max-width: 1920px;
        width: 90%;
        margin: 0 auto;
    }

    .inner-wrapper {
        max-width: 1200px;
        width: 90%;
        margin: 0 auto;
    }
}
