@import "setup";
@import "utils";
@import "typography";
@import "responsive";
@import "components/header";
@import "components/footer";

h1, h2, h3, h4, h5, h6, a, p {
    margin: 0;
}

img {
    max-width: 100%;
}

.outer-wrapper {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
}

.inner-wrapper {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.top-section {
    display: flex;

    &__img {
        width: 33.33%;
        height: 558px;
        position: relative;
        background-repeat: no-repeat;
        background-position: center;

        & h6 {
            @include fontR(16, 400);
            color: $primary;
            transform: rotate(-90deg);
            position: absolute;
            top: 30%;
        }

        &-text {
            display: flex;
            flex-direction: column;
        }

        &-text h3 {
            @include fontM(28, 700);
            background: $secondary;
            display: inline-block;
            padding: 10px 20px;
            position: absolute;
            left: 25px;
        }

        &-text h3:first-child {
            bottom: 22%;
        }

        &-text h3:last-child {
            bottom: 11%;
        }
    }

    &__img:nth-of-type(1) {
        background-image: url(../images/image-1.png)
    }

    &__img:nth-of-type(2) {
        background-image: url(../images/image-2.png)
    }

    &__img:nth-of-type(3) {
        background-image: url(../images/image-3.png)
    }

}

@media (max-width: 1100px) {
    .top-section {
        flex-direction: column;

        &__img {
            width: 100%;
            margin-bottom: 100px;
        }
    }
}

.product-header {

    &__h3 {
        @include fontM(30, 400);
        padding: 158px 0 0;
    }

    &__div {
        display: flex;
        justify-content: space-between;

        & h5 {
            @include fontR(18, 400);
            padding: 19px 0 60px;
        }

        &__div {
            display: flex;

            &__h5:first-child {
                color: $primary;
            }

            &__h5:nth-of-type(2) {
                color: $hintgrey;
            }
        }

    }
}

@media (max-width: 600px) {
    .product-header {
        &__div {
            flex-direction: column;
            text-align: center;
        }
    }
}

.top-product {
    position: relative;
}

.top-product::after {
    content: 'Spring/Summer';
    position: absolute;
    font-size: 8.6rem;
    transform: rotate(90deg);
    left: 95%;
    top: 25%;
    color: $whitegrey;
}

.four-image {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &__item {
        position: relative;
        margin: 0 auto;

        &__h6 {
            line-height: 24px;
        }

        &__h6--top {
            @include fontR(16, 400);
            color: $midgrey;
        }

        &__h6--bottom {
            @include fontR(16, 300);
            color: $hintgrey;
        }

        &__div > * {
            display: inline;
        }

        & h5 {
            @include fontM(18, 400);
            color: $primary;
            line-height: 30px;
        }

        & p {
            @include fontM(15, 400);
            color: $hintgrey;
            text-decoration: line-through;
        }
    }
}

@media (max-width: 1400px) {
    .top-product::after,
    .onsale-product::before {
        display: none;
    }
}

@media (max-width: 600px) {
    .four-image {

        &__item {
        }
    }
}


.onsale-product {
    position: relative;
}

.onsale-product::before {
    content: 'Summer Sale';
    position: absolute;
    font-size: 8.6rem;
    transform: rotate(90deg);
    right: 98%;
    top: 25%;
    color: $whitegrey;
    width: 570px;
}

.bag-parent {
    background-color: $primary;
    display: inline-block;
    position: absolute;
    bottom: 17%;
    left: 84.5%;
}

.bag-parent img {
    padding: 8px 11px;
}

.four-image__item:hover .bag-parent {
    background-color: $gold;
}

.lookbook {
    background-image: url(../images/main-image-2.png);
    background-repeat: no-repeat;
    margin-top: 162px;
    display: flex;
    justify-content: space-between;
    position: relative;

    &__button {
        display: flex;
        margin-left: 50px;
        padding: 240px 0 252px;

        &__arrow {
            background-color: $darkgrey;
            padding: 5px 0;
            color: $secondary;
            
            &--left {
                padding: 0 20px 0 40px;
            }

            &--right {
                padding: 0 40px 0 20px;
            }

            & i {
                font-size: 40px;
                line-height: 70px;
            }

            
        }
    }

    &__white-border {
        padding: 111px 0;
        text-align: right;

        & img {
            position: absolute;
            left: 22.3%;
        }

        & h3 {
            @include fontM(30, 400);
            line-height: 42px;
        }

        & h5 {
            @include fontR(18, 400);
            color: $hintgrey;
            padding-top: 14px;
        }

        & p {
            @include fontR(15, 400);
            text-transform: uppercase;
            position: absolute;
            color: $darkgrey;
            transform: rotate(-90deg);
            bottom: 11%;
            right: 25%;
        }

        & a {
            @include fontM(16, 400);
            border: 1px solid $gold;
            padding: 21px 34px;
            border-radius: 50px;
            color: $primary;
            display: inline-block;
            margin-top: 40px;
        }
    }
}

@media (max-width: 1200px) {
    .lookbook {

        &__button {
            padding-top: 450px;
        }

        &__white-border {

            & p {
                transform: none;
                bottom: 25%
            }

            & a {
                background-color: $gold;
                color: $secondary;
            }
        }
    }
}

@media (max-width: 900px) {
    .lookbook {
        &__white-border {
            text-align: center;
            color: $secondary; 
            & h5 {
                color: $secondary;
            }
        }
    }
}

.blog {
    padding-bottom: 162px;

    &__subheader {
        @include fontM(30, 400);
        padding: 158px 0 60px;
    }

    &__container {
        display: grid;
        grid-template-columns: 3fr 1fr 3fr;
        grid-template-rows: 3fr 1fr 3fr;

        &__item {

            & p:first-child {
                @include fontM(12, 400);
                text-transform: uppercase;
                padding-bottom: 33px;
                color: $hintgrey;
            }

            & h4 {
                @include fontM(20, 400);
                padding-bottom: 10px;
            }

            & p:nth-of-type(2) {
                @include fontR(14, 400);
                color: $hintgrey;
                padding-bottom: 15px;
            }

            & p:last-child {
                @include fontR(15.38, 400);
                line-height: 28px;
            }
        }

        &__item1 {
            grid-column-start: 1;
            grid-column-end: span 2; 
            grid-row-start: 1;
            grid-row-end: span 2;
            z-index: 5;
            padding: 70px 145px 0 100px;
        }

        &__item2 {
            grid-column-start: 2;
            grid-column-end: span 2;
            grid-row-start: 1;
            grid-row-end: span 2;
            z-index: 4;
        }

        &__item3 {
            grid-column-start: 1;
            grid-column-end: span 2;
            grid-row-start: 2;
            grid-row-end: span 2;
            z-index: 1;
        }

        &__item4 {
            grid-column-start: 2;
            grid-column-end: span 2;
            grid-row-start: 2;
            grid-row-end: span 2;
            z-index: 3;
            text-align: right;
            padding: 140px 150px 0 110px;
        }
    }
}

@media (max-width: 1200px) {
    .blog {

        &__container {
            display: flex;
            flex-direction: column;
            text-align: center;

            &__item3 {
                padding-top: 100px;
            }

            &__item4 {
                text-align: center;
                padding-top: 20px;
            }
        }
    }

    .outer-wrapper {
        max-width: 1920px;
        width: 90%;
        margin: 0 auto;
    }

    .inner-wrapper {
        max-width: 1200px;
        width: 90%;
        margin: 0 auto;
    }


}
