@import "setup";
@import "utils";
@import "typography";
@import "components/header";
@import "components/footer";

h1, h2, h3, h4, h5, h6, a, p {
    margin: 0;
}

.outer-wrapper {
    max-width: 1920px;
    margin: 0 auto;
}

.inner-wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.top-section {
    display: flex;

    &__img {
        width: 33.33%;
        height: 558px;
        background-repeat: no-repeat;
        background-position: center;
        position: relative;

        & h6 {
            @include fontR(16, 400);
            color: $primary;
            transform: rotate(-90deg);
            position: absolute;
            top: 30%;
        }

        & img {
            // 
        }

        &-text {
            display: flex;
            flex-direction: column;
        }

        &-text h3 {
            @include fontM(28, 700);
            background: $secondary;
            display: inline-block;
            padding: 10px 20px;
            position: absolute;
            left: 25px;
        }

        &-text h3:first-child {
            bottom: 22%;
        }

        &-text h3:last-child {
            bottom: 11%;
        }
    }

    &__img:nth-of-type(1) {
        background-image: url(../images/image-1.png);
    }
    &__img:nth-of-type(2) {
        background-image: url(../images/image-2.png);
    }
    &__img:nth-of-type(3) {
        background-image: url(../images/image-3.png);
    }
}

.product-header {

    &__h3 {
        @include fontM(30, 400);
        padding: 158px 0 0;
    }

    &__div {
        display: flex;
        justify-content: space-between;

        & h5 {
            @include fontR(18, 400);
            padding: 19px 0 60px;
        }

        &__div {
            display: flex;

            &__h5:first-child {
                color: $primary;
            }

            &__h5:nth-of-type(2) {
                color: $hintgrey;
            }
        }

    }
}

.four-image {
    display: flex;
    justify-content: space-between;

    &__item {
        position: relative;

        &__h6 {
            line-height: 24px;
        }

        &__h6--top {
            @include fontR(16, 400);
            color: $midgrey;
        }

        &__h6--bottom {
            @include fontR(16, 300);
            color: $hintgrey;
        }

        &__div > * {
            display: inline;
        }

        & h5 {
            @include fontM(18, 400);
            color: $primary;
            line-height: 30px;
        }

        & p {
            @include fontM(15, 400);
            color: $hintgrey;
            text-decoration: line-through;
        }
    }
}

.bag-parent {
    background-color: $primary;
    display: inline-block;
    position: absolute;
    bottom: 17%;
    left: 84.5%;
}

.bag-parent img {
    padding: 8px 11px;
}

.four-image__item:hover .bag-parent {
    background-color: $gold;
}

.lookbook {
    background-image: url(../images/main-image-2.png);
    background-repeat: no-repeat;
    margin-top: 162px;
    display: flex;

    &__item {

        &--white-border {
            background-image: url(../images/white-border.svg);
            padding-left: 432px;
        }
    }
}

.onsale-product {
    display: flex;
    justify-content: space-between;

    &__item {
        position: relative;

        
    }
}